* {
	padding: 0;
	margin: 0;
}
body {
	background: linear-gradient(to right, black, rgb(9, 11, 102), #0c000a);    
    background-size: cover;
}
.products {
	display: flex;  
	flex-wrap: wrap;  
}
.item {  
	padding: 1%;
	flex-grow: 1;
	flex-basis: 16%;
	/* font-family: 'Annie Use Your Telescope', cursive; */
	font-family: 'Ravi Prakash', cursive;
	color: #ff0000;
	font-size: 25px;
}
.item img:hover {
	box-shadow: 5px 10px 15px #da0202;
}
.item h2:hover {
	text-shadow: 4px 8px 12px #ff0000dc;
}
.cont {
	display: flex;
	justify-content: center;
}
.back {
	background-color: #f4eddd; 
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.change {
	background-color: black;
	color: white;
	padding: 10px;
	border: none;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}
h3, h4 {
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}
button {
margin: 10px;
}
span {
	font-weight: bold;
}
p, h2 {
	color: #fff;
}
