* {
	padding: 0;
	margin: 0;
}
body {
	background: linear-gradient(to right, black, rgb(9, 11, 102), #0c000a);    
    background-size: cover;
}
.products {
	display: flex;  
	justify-content: center;
	flex-wrap: wrap;  
}
.item {  
	padding: 1%;
	flex-grow: 1;
	flex-basis: 5%;
	/* font-family: 'Annie Use Your Telescope', cursive; */
	font-family: 'Ravi Prakash', cursive;
	color: #ff0000;
	font-size: 25px;
}
.item img:hover, .myFilter button:hover {
	box-shadow: 5px 10px 15px #da0202;
}
.myChange:hover {
	text-shadow: 6px 8px 12px #f8edae;
}
.myFilter {
	display: flex;
	justify-content: center;
}
.myChange {
	background: linear-gradient(-160deg, white, #f1ca81, #f894ce, #59bbf3, #588ba8);
	color: #da0202;
	padding: 10px;
	border: none;
	font-family: 'Ravi Prakash', cursive;
	font-size: 29px;
	font-weight: bold;
	text-shadow: 2px 3px 4px #0c000a;

}
.myFilter button {
	width: 12%;
	height: 3%;
	border-radius: 55%;
}



.back {
	background-color: #f4eddd; 
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h3, h4 {
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}
button {
margin: 10px;
}
span {
	font-weight: bold;
}
p {
	color: #fff;
}
