* {
	padding: 0;
	margin: 0;
}
body {
	background: linear-gradient(to right, #0c000a, rgb(9, 11, 102), #33a9d8, rgb(9, 11, 102), #0c000a);    
    background-size: cover;
}
.prod {
	margin-top: 40px;
}
.input-field {
	display: flex;
	justify-content: space-evenly;
}
#search {
	width: 40%;
	font-size: 25px; 
	font-family: 'Ravi Prakash', cursive;  
    margin: 10px; 
	color: #da0202;
	border: none;
    background: linear-gradient(-160deg, white, #f1ca81, #f894ce, #9fd6f7, #8bb0c5);
}

.products, .container {
	display: flex;  
	justify-content: center;
	flex-wrap: wrap;
}
.container button {
	width: 10%;
	height: 40px;
	border: none;
	background: linear-gradient(to right, rgb(9, 11, 102), #33a9d8, rgb(9, 11, 102) );
	color: #db9a5d;
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 30px;
	font-weight: bold;
}
.item {  
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3%;
	flex-grow: 1;
	flex-basis: 5%;
	/* font-family: 'Annie Use Your Telescope', cursive; */
	font-family: 'Ravi Prakash', cursive;
	color: #ff0000;
	font-size: 25px;
}
.item h2 {
	margin-top: 3%;
}
.item img:hover, .myFilter button:hover, #search:hover {
	box-shadow: 5px 10px 15px #da0202;
}
.myChange:hover {
	text-shadow: 6px 8px 12px #f8edae;
}
.myFilter {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}
.myChange {
	background: linear-gradient(-160deg, white, #f1ca81, #f894ce, #59bbf3, #588ba8);
	color: #da0202;
	padding: 8px;
	border: none;
	font-family: 'Ravi Prakash', cursive;
	font-size: 29px;
	font-weight: bold;
	text-shadow: 2px 3px 4px #0c000a;

}
.myFilter button {
	width: 160px;
	height: 3%;
	border-radius: 55%;
}


h3 {
	font-family: 'Annie Use Your Telescope', cursive;
	color: #da0202;
	font-size: 45px;
}
button {
margin:  50px 8px;
}

p, h1 {
	color: #fff;
}
nav {
	background-color: rgba(14, 13, 13, 0.39);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* position: fixed; */
	width: 100%;
	height: 80px;
}
.link {
	color: #db9a5d;
	font-family: 'Annie Use Your Telescope', cursive;
	text-decoration: none;
	/* text-transform: uppercase; */
	padding: 10px 80px;
	font-weight: 900;
	font-size: 27px;
	margin-top: 20px;

}
.name {
	font-weight: bold;
	font-size: 40px;
	margin-top: -1px;
}
.catHome h2{
	margin-left: 12%;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 900;
	font-size: 47px;
	color: #da0202;
}
.manCat {
	position: absolute;
	margin: -3% 20%;
}
.sax {
	position: absolute;
	margin-left: 7%;
	margin-top: -5%;
}
.catInCase {
	position: absolute;
	margin-top: 18%;
	margin-left: 75%;
}
.contTitle {
	font-family: 'Annie Use Your Telescope', cursive;
	color: #da0202;
	font-size: 45px;
	
}
.contText {
	font-family: 'Annie Use Your Telescope', cursive;
	color: #f85555;
	font-size: 30px;
	width: 60%;
	margin: 2% 15% 0 15%;
}
